# Telegram Settings
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Spotify Developer App Settings
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://localhost:3000/callback

# Callback Server Port
PORT=3000

# Access Control (Only these two Telegram Users can interact with the bot)
USER_1_ID=123456789
USER_1_NAME=SR

USER_2_ID=987654321
USER_2_NAME=Kelan

SPOTIFY_PLAYLIST_ID=your_spotify_playlist_id_here
